/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: $regularWeight;
}

div#headerWrapper {background-color: $primaryColor;}
header {
    padding: 1rem $gutter;
    img {
        float: left;
        padding-right: 15px;
    }
    h1 {
        color: white;
        margin: 1.5rem 0 0 0; 
        font-size: 1.5rem;
        font-weight: $heavyWeight;
    }// end of h1
    h2{
        color: white;
        margin: 0; 
        font-size: 1.2rem; 
        font-weight: $regularWeight;
        display: none;
    } // end of h2
} //end of header 

div#navWrapper {background-color: rgb(51, 51, 51);}
nav {
    ul{margin:0; padding: 0;} // end of ul 
    li {list-style-type: none;}
    li.active {background-color: #502929} // end of li
    a {
        display: block;
        padding: .8rem 0; /*44px min*/
        color: #eee;
        text-align: center;
        text-decoration: none;
    }
    a:hover {background-color: #444;}// end of a
}

// main
div#mainWrapper {
    background-color: #d8d3ce;
    figure.hero {
        width: 100%; 
        margin: 0 auto;
    }
    figure.hero img {width: 100%;}
}

main{
    background-color: rgb(255, 255, 255);
    display: block; 
    
    h1 {
        color: $primaryColor;
        font-weight: $heavyWeight;
        margin-top: 0;
        padding-top: 1rem;
    }// end of h1
    
    figure img {width: 100%;}
    figure{
        margin: 0;
        width: 100%;
        
    }
    figcaption {text-align: center; font-size: .8rem;}// end of figure elements
}

main figure.subImage, h1.title, p.text, div.news {
    padding: 1rem $gutter;
}

div#footerWrapper {background-color: $primaryColor;}
footer {
    text-align: center;
    padding: 1rem $gutter;
    color: white;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
